---
title: Jonny Spicer | Searching for Digital Enlightenment
layout: default
---
<h1>{{ page.title }}</h1>

<p>
  Poker player turned web developer. Welcome to the place where I
  console.log() my thoughts on technology, the Internet, gambling, wellbeing,
  mental health, and whatever else is on my mind today.
</p>

<div class="recent-posts recent-posts-mendokusai">
  <h2>Latest post on Mendokusai:</h2>
    {% for post in site.categories.mendokusai offset: 0 limit: 1 %}
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <span>{{ post.date | date_to_string }} | {{ post.tags | sort | join: ", " }}</span>
    {% endfor %}
  <p>
    <a class="read-more" href="{{ base.url }}/mendokusai">Click here to read more daily posts</a>
  </p>
</div>
<hr />
<div class="recent-posts recent-posts-tartarus">
  <h2>Latest post on Thoughts from Tartarus:</h2>
    {% for post in site.categories.tartarus offset: 0 limit: 1 %}
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <span>{{ post.date | date_to_string }} | {{ post.tags | sort | join: ", " }}</span>
    {% endfor %}
  <p>
    <a class="read-more" href="{{ base.url }}/tartarus">Click here to read more essay-style posts</a>
  </p>
</div>
