---
layout: default
title: Tartarus Archives
permalink: /tartarus/archives
---
<div class="archive-list">
  {% for post in site.categories.tartarus %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <span>{{ post.date | date_to_string }} | {{ post.tags | sort | join: ", " }}</span>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
