.post{
  ul{
    padding-inline-end:40px;
    list-style-type: lower-greek;
    padding-inline-start: 20px;
    li{
      padding-left: 5px;
      span{
        font-size: 18px;
      }
    }
  }
  a{
    color: #666;
    &:after{
      color:$color_grey_very_dark;
    }
    &:hover{
      color:$color_grey_very_dark
    }
  }
}
