.post{
  ul{
    padding-inline-end:40px;
    padding-inline-start: 20px;
    li{
      padding-left: 5px;
      span{
        font-size: 18px;
      }
    }
  }
  &.post-tartarus{
    ul{
      list-style-type: lower-greek;
    }
  }

  &.post-mendokusai{
    ul{
      list-style-type: katakana;
    }
  }
}
