footer{
  text-align: center;
  padding: 20px;
  color: $color_black;
  font-size: 12px;

  a{
    color: $color_black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
