nav.desktop-nav{
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4,1fr);
  div{
    text-align: center;
    border-left: solid 1px $color_grey_dark;
    &:last-child{
      border-right: solid 1px $color_grey_dark;
    }
  }
}
