$color_white:#fff;
$color_black:#000;
$color_grey_light: #999;
$color_grey_medium: #777;
$color_grey_dark: #555;
$color_grey_very_dark: #333;
$color_link: $color_grey_light;
$color_text: $color_grey_very_dark;

$breakpoint_menu: 768px;

/* Fonts */

$font-stack-header: "Volkhov", Helvetica, sans-serif;
$font-stack-subheader: "Fira Sans", Helvetica, sans-serif;
$font-stack-copy: "Slabo 13px", Helvetica, sans-serif;
