---
layout: default
---
<div class="post post-tartarus">
  <h1>{{ page.title }}</h1>

  <p>
    Published {{ page.date | date_to_string }} in
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    {% if forloop.last == true %}
    <a href="/tag/{{ tag_name | replace: " ", "_" | downcase }}/">{{ tag_name }}</a>
    {% else %}
    <a href="/tag/{{ tag_name | replace: " ", "_" | downcase }}/">{{ tag_name }}</a> /
    {% endif %}
    {% endfor %}
  </p>

  {{ content }}
  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</div>
